@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Dancing+Script:wght@400..700&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karma:wght@300;400;500;600;700&family=Mozilla+Headline:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Special+Gothic+Expanded+One&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box
}

section{
    min-height:100vh;
    width:100%;
      font-family: "Poppins", sans-serif;
    display: flex;
  

}

.right_side{
     min-height:100% ;
    
    width:80%;
    padding:15px;
}

.right_side>div:first-child{
    min-height:10px;
    width:100%;
    display: flex;
   
    justify-content: end;
}

.right_side>div:first-child button{
width:15%;
font-size: 20px;
border-radius: 15px;
border: none;
background-color: #0ABAB5;
padding:10px;

}

.right_side>div:first-child button a{
    text-decoration: none;
    color:black
}

.container{
    min-height:200px;
    display: grid;
    padding:50px 15px;
    width:80%;
    gap:40px 20px ;
    grid-template-columns: auto auto auto;
}

.box{
    min-height:5px;
    display: flex;
    padding:20px 15px;
    justify-content: space-around;
    gap:20px;
   
    flex-direction: column;
    box-shadow: 5px 5px 5px black;
    background-color: #B7B89F;
}


