@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Dancing+Script:wght@400..700&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karma:wght@300;400;500;600;700&family=Mozilla+Headline:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Special+Gothic+Expanded+One&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box
}

section{
    min-height:100vh;
    width:100%;
    display: flex;
     background-image: url("../assests/homepage.jpg");
     background-size: cover;
     background-position: -100px;
    align-items: center;
    justify-content: center;
    
  font-family: "Poppins", sans-serif;
}

div{
    min-height:50px;
    width:40%;
     display: flex;
     flex-direction: column;
      align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 15px;
    gap:10px;
    background-color: #EEEE;
    padding:10px
}

a{
    text-decoration: none;
    width:30%;
    padding:10px;
    text-align: center;
    color:white;
    background-color: #468A9A;
    border-radius:10px;
    transition: all 1s ;
    transition-delay: 2s;
}
a:active{
    transform: scale(0.5);
}