@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Dancing+Script:wght@400..700&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karma:wght@300;400;500;600;700&family=Mozilla+Headline:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Special+Gothic+Expanded+One&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box
}

section{
    min-height:100vh;
    width:100%;
      font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    padding:30px;
    background-color:#D9C4B0;
    gap:30px

}

section>div{
    display: flex;
    width:100%;
    min-height:10px;
    padding:10px 30px;
    background-color: #C1856D;
    align-items: center;

    justify-content: space-between;
}

section>div>div{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
section>div p{
     background-color: #FBF9D1;
     font-size: 24px;
     padding:5px 20px;
     border: 2px solid #8C1007;
     border-radius: 5px;
     box-shadow: 2px 2px 10px black;
}

form{
    min-height: 10px;
    width:100%;
    display: flex;
    flex-direction: column;
    padding:5px 20px;
    gap:10px;
    background-color: #E6CFA9;

}

.last{
    width:80%;
     align-items: center;
    margin-top: 20px;
    justify-content: space-between;
     display: flex;

}

.last a,.last button{
    min-height:10px;
    padding:5px 20px;
    text-decoration: none;
    background-color: #5E686D;
    font-size: 20px;
    color:white;
    border-radius: 5px;
    transition: all 2s ;
    cursor: pointer;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.last a:active,.last button:active{
    transform: scale(0.8);
}