{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style/adexamdetail.css' %}" />
      <script src="https://kit.fontawesome.com/16a2d7a5b2.js" crossorigin="anonymous"></script>
</head>
<body>
     <section>
     {% include 'admin_nav.html' %}


        <div class="right_side">

        <form method="POST" action="{% url 'adexamdetail' %}">
        {% csrf_token %}
           
       
        <div class="first">
            <label for="">exam_name :</label>
            <input type="text" name="exam_name"  required>

        </div>
        
        <div>
            <label for="">start_time:</label>
            <input type="time" name="start_time"  required>
        </div>
        <div>
            <label for="">end_time:</label>
            <input type="time" name="end_time"  required>
        </div>
        <div>
            <label for="">description:</label>
            <input type="text" name="description" required>
        </div>
         <div>
            <label for="">exam_fee:</label>
            <input type="number" name="exam_amount" required>
        </div>
         <div>
            <label for="">created_by:</label>
            <input type="text" name="created_by" required>
        </div>
        <div>
            <label for="">updated_by:</label>
            <input type="text" name="updated_by" required>
        </div>
        <div>
            <label for="">Choices</label>
           
            <select name="code" id="code" multiple>
                {% for i in data %}
                <option value="{{i.question_code}}">{{i.question_name}}</option>

                {% endfor %}
            </select>



           
        </div>

        <button>Submit</button>
        
                
            </form>

        </div>

        </section>

        <script>
            let down=document.getElementsByClassName("down")
            let bottom=document.getElementsByClassName("bottom")
            let a=false

            function show(){
                a=!a
                if(a==true){
                    down[0].style='display:unset;transition:all 1s'
                    down[1].style='display:unset ;transition:all 1s'
                     bottom[0].style='animation-name:bottom1;animation-duration:1s'
                    
                }
                else{
                    down[0].style='display:none ;transition:all 1s'
                    down[1].style='display:none ;transition:all 1s'
                     bottom[0].style='animation-name:bottom2;animation-duration:1s'
                   
                }
            }

   
        
</script>
</body>
</html>