{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{% static 'style/home.css' %}">
    <script src="https://kit.fontawesome.com/16a2d7a5b2.js" crossorigin="anonymous"></script>
</head>
<body>
    <section>
        {% include 'user_nav.html' %}
        <div class="right_side">
            <div>
                <h1>Attempt Count</h1>
                <p>{{attempts}}</p>
            </div>
            <div>
                <h1>pass Count</h1>
                <p>{{ pass_count }}</p>
            </div>
            <div>
                 <h1>fail Count</h1>
                <p>{{fail_count }}</p>

            </div>

            <div>
                <h1>Wallet_Balance</h1>
                <p>{{balance}}</p>
            </div>
        </div>
    </section>
    
</body>
</html>