{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style/user_nav.css' %}">
</head>
<body>
   <div class="left_side">
            <h4>EXAMIFY</h4>
            <a href="{% url 'home' %}"><i class="fa-solid fa-house-chimney"></i>Home</a>
            
            <a href="{% url 'exam' %}"><i class="fa-solid fa-pen-to-square"></i>Start Exam</a>
            <a href="{% url 'result' %}"><i class="fa-solid fa-square-poll-horizontal"></i>View Result</a>
            <a href="{% url 'profile' %}"><i class="fa-solid fa-user"></i>Profile</a>
        </div> 
</body>
</html>